In [101]:
# Import modules
import pandas as pd
import numpy as np

In [102]:
# Read in data, and display frequencies
dat = pd.read_table('OCS_Freqs.txt', header=None)
data = dat.sort_values(by=0).reset_index(drop=True)
length = len(data)
data

            0
0  340449.273
1  352599.570
2  364748.958
3  376897.412
4  389044.897
5  401191.381

In [105]:
# Enter in ranges for B, D, and J
# Constant in MHz
# Frequeny tolerance set to 1 MHz
B_lower = 5000
B_upper = 7000
D_lower = 0.001
D_upper = 0.050
J_1 = 25
J_2 = 35
freq = data[0]
freq_tol = 1

In [106]:
for J in np.arange(J_1, J_2):
    print('J = {}'.format(J-1))
    for x in range(length-1, 0, -1):
        for y in range(0, x):
            if y == x: continue
            d = (freq[y]-freq[x]*J/(J+1))/(((J+1)**2*J*4)-4*J**3)
            b = (freq[y] + 4*d*(J)**3)/(2*(J))
            fcal0 = 2*b*(J-1) - 4*d*(J-1)**3
            fcal3 = 2*b*(J+2) - 4*d*(J+2)**3
            if B_upper > b > B_lower and D_upper > d > D_lower:
                print('{:.3f} {:.3f} {:.3f} {:.3f}'.format(fcal0, freq[y], freq[x], fcal3))
                print('B = {:.3f}'.format(b), 'D = {:.6f}'.format(d))
                for p in range(0, length-1):
                    if (fcal0 + freq_tol) > freq[p] > (fcal0 - freq_tol):
                        print('fits nicely to {:.3f}'.format(freq[p]))
                    elif (fcal3 + freq_tol) > freq[p] > (fcal3 - freq_tol):
                        print('fits nicely to {:.3f}'.format(freq[p]))
                    else:
                        continue

J = 24
J = 25
J = 26
J = 27
328298.101 340449.273 352599.570 364748.961
B = 6081.492 D = 0.001302
fits nicely to 364748.958
J = 28
340449.276 352599.570 364748.958 376897.409
B = 6081.493 D = 0.001302
fits nicely to 340449.273
fits nicely to 376897.412
J = 29
352599.567 364748.958 376897.412 389044.898
B = 6081.492 D = 0.001302
fits nicely to 352599.570
fits nicely to 389044.897
J = 30
364748.959 376897.412 389044.897 401191.382
B = 6081.492 D = 0.001302
fits nicely to 364748.958
J = 31
376897.413 389044.897 401191.381 413336.834
B = 6081.493 D = 0.001302
fits nicely to 376897.412
J = 32
J = 33